[submodule "openh264"]
	path = native/openh264
	url = https://github.com/cisco/openh264.git
[submodule "libvpx"]
	path = native/libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "thor"]
	path = native/thor
	url = https://github.com/cisco/thor.git
[submodule "libde265"]
	path = native/libde265
	url = https://github.com/strukturag/libde265.git
[submodule "native/daala"]
	path = native/daala
	url = https://git.xiph.org/daala.git
[submodule "native/ogg"]
	path = native/ogg
	url = https://git.xiph.org/ogg.git
