[submodule "x264"]
	path = x264
	url = git://git.videolan.org/x264.git
[submodule "openh264"]
	path = openh264
	url = https://github.com/cisco/openh264.git
[submodule "libvpx"]
	path = libvpx
	url = https://github.com/webmproject/libvpx.git
